# Tarea 2

Elaborado por: Anthony Cascante, Michael Yip

## Tutorial de Pandas

Este tutorial muestra las funciones basicas de para el uso de la biblioteca Pandas orientado al preprocesamiento de datos.
Aunque no se muestren la totalidad de funciones que ofrece la biblioteca Pandas, se muestra y ejemplifica las funciones que se consideren de importancia

### Dependencias

Se importan las bibliotecas necesarias para la implementacion del tutorial

In [37]:
import pandas as pd

### Carga de Dataset

Se utiliza el set de datos *daily-min-temperatures.csv*

Se carga el valor del archivo en una variable

In [38]:
df = pd.read_csv('diabetes.csv')

### DataFrame

Estructura de datos de dos dimensiones utilizado para la manipulacion de datos.

#### Atributos

Tipo de datos de columnas del dataframe

In [39]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

Nombre de columnas del dataframe

In [40]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

DataFrame tipo numpy

In [41]:
df.values

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

Cantidad de objetos en el dataframe

In [42]:
df.size

6912

Dimensiones del dataframe

In [43]:
df.shape

(768, 9)

Verifica si el dataframe esta vacio

In [44]:
df.empty

False

#### Conversiones

Verifica se el dataframe tiene elementos NaN

In [45]:
df.isna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
738,False,False,False,False,False,False,False,False,False
739,False,False,False,False,False,False,False,False,False
740,False,False,False,False,False,False,False,False,False
741,False,False,False,False,False,False,False,False,False
742,False,False,False,False,False,False,False,False,False
743,False,False,False,False,False,False,False,False,False
744,False,False,False,False,False,False,False,False,False
745,False,False,False,False,False,False,False,False,False
746,False,False,False,False,False,False,False,False,False
747,False,False,False,False,False,False,False,False,False
748,False,False,False,False,False,False,False,False,False
749,False,False,False,False,False,False,False,False,False
750,False,False,False,False,False,False,False,False,False
751,False,False,False,False,False,False,False,False,False
752,False,False,False,False,False,False,False,False,False
753,False,False,False,False,False,False,False,False,False
754,False,False,False,False,False,False,False,False,False
755,False,False,False,False,False,False,False,False,False
756,False,False,False,False,False,False,False,False,False
757,False,False,False,False,False,False,False,False,False
758,False,False,False,False,False,False,False,False,False
759,False,False,False,False,False,False,False,False,False
760,False,False,False,False,False,False,False,False,False
761,False,False,False,False,False,False,False,False,False
762,False,False,False,False,False,False,False,False,False
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

#### Indices e Iteraciones

Primeros n valores

In [46]:
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Ultimos n valores

In [47]:
df.tail(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Seleccion por nombre columnas

In [48]:
df.loc[:, ['Glucose', 'Outcome']]

     Glucose  Outcome
0        148        1
1         85        0
2        183        1
3         89        0
4        137        1
5        116        0
6         78        1
7        115        0
8        197        1
9        125        1
10       110        0
11       168        1
12       139        0
13       189        1
14       166        1
15       100        1
16       118        1
17       107        1
18       103        0
19       115        1
20       126        0
21        99        0
22       196        1
23       119        1
24       143        1
25       125        1
26       147        1
27        97        0
28       145        0
29       117        0
..       ...      ...
738       99        0
739      102        1
740      120        1
741      102        0
742      109        0
743      140        1
744      153        0
745      100        0
746      147        1
747       81        0
748      187        1
749      162        1
750      136        1
751      121        0
752      108        0
753      181        1
754      154        1
755      128        1
756      137        0
757      123        1
758      106        0
759      190        1
760       88        0
761      170        1
762       89        0
763      101        0
764      122        0
765      121        0
766      126        1
767       93        0

[768 rows x 2 columns]

Seleccion por posicion de columna

In [49]:
df.iloc[:, [3, 8]]

     SkinThickness  Outcome
0               35        1
1               29        0
2                0        1
3               23        0
4               35        1
5                0        0
6               32        1
7                0        0
8               45        1
9                0        1
10               0        0
11               0        1
12               0        0
13              23        1
14              19        1
15               0        1
16              47        1
17               0        1
18              38        0
19              30        1
20              41        0
21               0        0
22               0        1
23              35        1
24              33        1
25              26        1
26               0        1
27              15        0
28              19        0
29               0        0
..             ...      ...
738             17        0
739              0        1
740             37        1
741             20        0
742             18        0
743              0        1
744             37        0
745             33        0
746             41        1
747             41        0
748             22        1
749              0        1
750              0        1
751             39        0
752             24        0
753             44        1
754             32        1
755             39        1
756             41        0
757              0        1
758              0        0
759              0        1
760             26        0
761             31        1
762              0        0
763             48        0
764             27        0
765             23        0
766              0        1
767             31        0

[768 rows x 2 columns]

Seleccion por posicion de filas y columnas especificas

In [50]:
df.iloc[[5, 4], [3, 8]]

   SkinThickness  Outcome
5              0        0
4             35        1

Verifica si el dataframe contiene los valores dentro del parametro de la lista

In [51]:
df.isin([35])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
738,False,False,False,False,False,False,False,False,False
739,False,False,False,False,False,False,False,False,False
740,False,False,False,False,False,False,False,False,False
741,False,False,False,False,False,False,False,False,False
742,False,False,False,False,False,False,False,False,False
743,False,False,False,False,False,False,False,False,False
744,False,False,False,False,False,False,False,False,False
745,False,False,False,False,False,False,False,False,False
746,False,False,False,False,False,False,False,False,False
747,False,False,False,False,False,False,False,False,False
748,False,False,False,False,False,False,False,False,False
749,False,False,False,False,False,False,False,False,False
750,False,False,False,False,False,False,False,False,False
751,False,False,False,False,False,False,False,False,False
752,False,False,False,False,False,False,False,False,False
753,False,False,False,False,False,False,False,False,False
754,False,False,False,False,False,False,False,False,False
755,False,False,False,False,False,False,False,False,False
756,False,False,False,False,False,False,False,False,False
757,False,False,False,False,False,False,False,False,False
758,False,False,False,False,False,False,False,False,False
759,False,False,False,False,False,False,False,False,False
760,False,False,False,False,False,False,False,False,False
761,False,False,False,False,False,False,False,False,False
762,False,False,False,False,False,False,False,False,False
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

Seleccion de filas 5, 4 y columnas 3 y 8

In [52]:
subdf = df.iloc[[5, 4], [3, 8]]
subdf

   SkinThickness  Outcome
5              0        0
4             35        1

Reemplaza por el parametro other dependiendo de la condicion dada, cuando este es False

In [53]:
subdf.where(subdf <= 0, other='hello')

  SkinThickness Outcome
5             0       0
4         hello   hello

Similar a where, pero cuando la condicion evaluada es True, Nan por defecto

In [54]:
subdf.mask(subdf > 0)

   SkinThickness  Outcome
5            0.0      0.0
4            NaN      NaN

Aplica funcion a cada uno de los elementos del dataframe

In [55]:
def f(x):
    return x + 2;
subdf.apply(f)

   SkinThickness  Outcome
5              2        2
4             37        3

#### Stats

Describe caracteristicas del dataframe

In [56]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Calculo de varianza por columna

In [57]:
df.var()

Pregnancies                    11.354056
Glucose                      1022.248314
BloodPressure                 374.647271
SkinThickness                 254.473245
Insulin                     13281.180078
BMI                            62.159984
DiabetesPedigreeFunction        0.109779
Age                           138.303046
Outcome                         0.227483
dtype: float64

Calculo de covarianza entre columnas

In [58]:
df.cov()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,11.354056,13.947131,9.214538,-4.390041,-28.555231,0.469774,-0.037426,21.570620,0.356618
Glucose,13.947131,1022.248314,94.430956,29.239183,1220.935799,55.726987,1.454875,99.082805,7.115079
BloodPressure,9.214538,94.430956,374.647271,64.029396,198.378412,43.004695,0.264638,54.523453,0.600697
SkinThickness,-4.390041,29.239183,64.029396,254.473245,802.979941,49.373869,0.972136,-21.381023,0.568747
Insulin,-28.555231,1220.935799,198.378412,802.979941,13281.180078,179.775172,7.066681,-57.143290,7.175671
BMI,0.469774,55.726987,43.004695,49.373869,179.775172,62.159984,0.367405,3.360330,1.100638
DiabetesPedigreeFunction,-0.037426,1.454875,0.264638,0.972136,7.066681,0.367405,0.109779,0.130772,0.027472
Age,21.570620,99.082805,54.523453,-21.381023,-57.143290,3.360330,0.130772,138.303046,1.336953
Outcome,0.356618,7.115079,0.600697,0.568747,7.175671,1.100638,0.027472,1.336953,0.227483

#### Seleccion y Manipulacion

Elimina columnas Pregnancies y Glucose

In [59]:
df.drop(['Pregnancies', 'Glucose'], axis=1)

,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,72,35,0,33.6,0.627,50,1
1,66,29,0,26.6,0.351,31,0
2,64,0,0,23.3,0.672,32,1
3,66,23,94,28.1,0.167,21,0
4,40,35,168,43.1,2.288,33,1
5,74,0,0,25.6,0.201,30,0
6,50,32,88,31.0,0.248,26,1
7,0,0,0,35.3,0.134,29,0
8,70,45,543,30.5,0.158,53,1
9,96,0,0,0.0,0.232,54,1
10,92,0,0,37.6,0.191,30,0
11,74,0,0,38.0,0.537,34,1
12,80,0,0,27.1,1.441,57,0
13,60,23,846,30.1,0.398,59,1
14,72,19,175,25.8,0.587,51,1
15,0,0,0,30.0,0.484,32,1
16,84,47,230,45.8,0.551,31,1
17,74,0,0,29.6,0.254,31,1
18,30,38,83,43.3,0.183,33,0
19,70,30,96,34.6,0.529,32,1
20,88,41,235,39.3,0.704,27,0
21,84,0,0,35.4,0.388,50,0
22,90,0,0,39.8,0.451,41,1
23,80,35,0,29.0,0.263,29,1
24,94,33,146,36.6,0.254,51,1
25,70,26,115,31.1,0.205,41,1
26,76,0,0,39.4,0.257,43,1
27,66,15,140,23.2,0.487,22,0
28,82,19,110,22.2,0.245,57,0
29,92,0,0,34.1,0.337,38,0
...,...,...,...,...,...,...,...
738,60,17,160,36.6,0.453,21,0
739,74,0,0,39.5,0.293,42,1
740,80,37,150,42.3,0.785,48,1
741,44,20,94,30.8,0.400,26,0
742,58,18,116,28.5,0.219,22,0
743,94,0,0,32.7,0.734,45,1
744,88,37,140,40.6,1.174,39,0
745,84,33,105,30.0,0.488,46,0
746,94,41,0,49.3,0.358,27,1
747,74,41,57,46.3,1.096,32,0
748,70,22,200,36.4,0.408,36,1
749,62,0,0,24.3,0.178,50,1
750,70,0,0,31.2,1.182,22,1
751,78,39,74,39.0,0.261,28,0
752,62,24,0,26.0,0.223,25,0
753,88,44,510,43.3,0.222,26,1
754,78,32,0,32.4,0.443,45,1
755,88,39,110,36.5,1.057,37,1
756,90,41,0,32.0,0.391,39,0
757,72,0,0,36.3,0.258,52,1
758,76,0,0,37.5,0.197,26,0
759,92,0,0,35.5,0.278,66,1
760,58,26,16,28.4,0.766,22,0
761,74,31,0,44.0,0.403,43,1
762,62,0,0,22.5,0.142,33,0
763,76,48,180,32.9,0.171,63,0
764,70,27,0,36.8,0.340,27,0
765,72,23,112,26.2,0.245,30,0
766,60,0,0,30.1,0.349,47,1
767,70,31,0,30.4,0.315,23,0

Definicion de subset subdf2 para ejemplos siguientes.
Slice de filas 9 al 20 con columnas 3 y 4

In [60]:
subdf2 = df.iloc[9:20, [3, 4]]
subdf2

    SkinThickness  Insulin
9               0        0
10              0        0
11              0        0
12              0        0
13             23      846
14             19      175
15              0        0
16             47      230
17              0        0
18             38       83
19             30       96

Eliminar filas repetidas

In [61]:
subdf2.drop_duplicates()

    SkinThickness  Insulin
9               0        0
13             23      846
14             19      175
16             47      230
18             38       83
19             30       96

Truncar dataframe despues o antes de un indice

In [62]:
df.truncate(after=5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

Definicion de subset subdf3 para ejemplos siguientes.
Se reemplazan por NaN en elementos del subset donde se tienen 0

In [63]:
subdf3 = subdf2.mask(subdf2 == 0)
subdf3

    SkinThickness  Insulin
9             NaN      NaN
10            NaN      NaN
11            NaN      NaN
12            NaN      NaN
13           23.0    846.0
14           19.0    175.0
15            NaN      NaN
16           47.0    230.0
17            NaN      NaN
18           38.0     83.0
19           30.0     96.0

#### Manejo de Valores Faltantes

Eliminar filas con valores NaN

In [64]:
subdf3.dropna()

    SkinThickness  Insulin
13           23.0    846.0
14           19.0    175.0
16           47.0    230.0
18           38.0     83.0
19           30.0     96.0

Rellenar o Reemplazar valores NaN por 0, u cualquier otro valor definido. Tomando como base el subset **subdf3**

In [65]:
subdf4 = subdf3.fillna(0)
subdf4

    SkinThickness  Insulin
9             0.0      0.0
10            0.0      0.0
11            0.0      0.0
12            0.0      0.0
13           23.0    846.0
14           19.0    175.0
15            0.0      0.0
16           47.0    230.0
17            0.0      0.0
18           38.0     83.0
19           30.0     96.0

Reemplazo de valores u condiciones por nuevo valor sustituto

In [66]:
subdf4.replace(0, value=0.0005)

    SkinThickness   Insulin
9          0.0005    0.0005
10         0.0005    0.0005
11         0.0005    0.0005
12         0.0005    0.0005
13        23.0000  846.0000
14        19.0000  175.0000
15         0.0005    0.0005
16        47.0000  230.0000
17         0.0005    0.0005
18        38.0000   83.0000
19        30.0000   96.0000

Definicion de subset subdf5 para ejemplos siguientes. Tomando como base el subset **subdf3**
Truncar valores despues de la fila 13

In [67]:
subdf5 = subdf3.truncate(before=13)
subdf5

    SkinThickness  Insulin
13           23.0    846.0
14           19.0    175.0
15            NaN      NaN
16           47.0    230.0
17            NaN      NaN
18           38.0     83.0
19           30.0     96.0

Interpolacion por defecto el cual es el promedio del valor anterior y posterior a la fila el cual contiene un NaN

In [68]:
subdf5.interpolate()

    SkinThickness  Insulin
13           23.0    846.0
14           19.0    175.0
15           33.0    202.5
16           47.0    230.0
17           42.5    156.5
18           38.0     83.0
19           30.0     96.0

Interpolacion por metodo nearest que es el valor anterior.

In [69]:
subdf5.interpolate(method='nearest')

    SkinThickness  Insulin
13           23.0    846.0
14           19.0    175.0
15           19.0    175.0
16           47.0    230.0
17           47.0    230.0
18           38.0     83.0
19           30.0     96.0

#### Ordenamiento y cambio de Forma

Ordenar valores segun la columna Insulin, y ubicar los valores NaN al final.

In [70]:
subdf5.sort_values(by='Insulin', na_position='last')

    SkinThickness  Insulin
18           38.0     83.0
19           30.0     96.0
14           19.0    175.0
16           47.0    230.0
13           23.0    846.0
15            NaN      NaN
17            NaN      NaN

Dataframe transpuesto

In [71]:
subdf5.T

                  13     14  15     16  17    18    19
SkinThickness   23.0   19.0 NaN   47.0 NaN  38.0  30.0
Insulin        846.0  175.0 NaN  230.0 NaN  83.0  96.0

### Salida de archivo

Salida hacia un archivo CSV. Debe crearse un archivo csv en la ruta relativa a este archivo.

In [72]:
subdf5.to_csv("subdf5.csv")